.DS_Store
.texpadtmp
*.aux
*.bbl
*.bcf
*.blg
*.fls
*.glo
*.glg
*.gls
*.glsdefs
*.idx
*.ilg
*.ind
*.ist
*.labelTags
*.lof
*.log
*.out
*.pdf
*.run.xml
*.synctex.gz
*.tdo
*.sta
*.gz
*.toc
*.acn
*.acr
*.alg
*.dvi
*.lot
*.maf
*.mtc
*.mtc1
.fdb_latexmk
images/svg-inkscape/
svg-inkscape/
/images/*.pdf
/images/*.pdf_tex
/customer-assets/**/*.pdf_tex
out/
/.project
.uuid
*.tlg
*.olg
*.tld
*.old
*.tdn
*.odn
*.pandoc.docx
.idea
*.fdb_latexmk
